// Variables for commonly used colors
$white: #fff;
$black: black;
$grey: #f0efed;
$turquoise:#66dbed;
$lightgrey: #f2f4f5;

// Text sizing utility classes
$text-sizes: (
  xxs: 12px,
  xs: 14px,
  sm: 16px,
  md: 18px,
  lg: 20px,
  xl: 24px,
  '2xl': 28px,
);

@each $size, $value in $text-sizes {
  .text-#{$size} {
    font-size: $value;
  }
}


// Flexbox layout utility classes
.flex-utilities {
  display: flex;

  &.expand {
    flex-direction: column; /* or row for a horizontal layout */
    flex: 1; /* This allows the container to expand and fill available space */
  }
  &.justify-end {
    justify-content: end;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-start {
    justify-content: start;
  }
  &.justify-between {
    justify-content: space-between;
  }
  &.items-center {
    align-items: center;
  }

  &.items-between {
    align-items: space-between;
  }

  &.flex-row {
    flex-direction: row;
  }

  &.flex-col {
    flex-direction: column;
  }

  &.flex-center {
    justify-content: center;
    align-items: center;
  }

  &.flex-start {
    justify-content: flex-start;
    align-items: flex-start;
  }

  &.flex-end {
    justify-content: flex-end;
    align-items: flex-end;
  }

  &.flex-space-between {
    justify-content: space-between;
  }

  &.flex-space-around {
    justify-content: space-around;
  }

  &.flex-reverse {
    flex-direction: row-reverse;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }
}

// Layout utility classes
.layout-utilities {
  &.layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  &.layout-sidebar {
    flex: 1;
    padding: 20px;
    display: none;
  }

  &.layout-main {
    flex: 3;
    padding: 20px;
  }

  @media (min-width: 768px) {
    .layout-sidebar {
      display: flex; // Show sidebar on larger screens
    }
  }
}


.text {
    &.white {
    background-color: $white;
  }

  &.bold{
    font-weight: bold;
  }
}

// Background color utility classes
.bg {
  &.white {
    background-color: $white;
  }

  &.grey {
    background-color: $grey;
  }

  &.turquoise {
    background-color: $turquoise;
  }
  &.red {
    background-color: red;
  }
  &.lightgrey{
    background-color: $lightgrey;
  }
}
.margin-utilities {
  &.margin-y {
    margin: 200px;
  }
  &.mr-10 {
    margin-right: 10px;
  }

  &.mt-10 {
    margin-top: 10px;
  }

  &.margin-none {
    margin: 0;
  }

  &.margin-sm {
    margin: 0.25rem;
  }

  &.margin-md {
    margin: 0.5rem;
  }

  &.margin-lg {
    margin: 1rem;
  }

  &.margin-xl {
    margin: 1.5rem;
  }
}


.padding-utilities {
  &.padding-none {
    padding: 0;
  }

  &.padding-sm {
    padding: 0.25rem;
  }

  &.padding-md {
    padding: 0.5rem;
  }

  &.padding-lg {
    padding: 1rem;
  }

  &.padding-xl {
    padding: 1.5rem;
  }
}

.box-shadow-utilities {
  &.shadow-sm {
       box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.13);
  }
}


.border-utilities{
  &.border-none {
    border: none;
  }
}

// Border radius utility classes
.border-radius-utilities {
  &.rounded-none {
    border-radius: 0;
  }

  &.rounded-sm {
    border-radius: 0.25rem;
  }

  &.rounded-md {
    border-radius: 0.5rem;
  }

  &.rounded-lg {
    border-radius: 1rem;
  }

  &.rounded-full {
    border-radius: 50%;
  }

  &.message-bubble {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
}

.cursor-pointer {
   &:hover {
    background-color: rgba(128, 128, 128, 0.25);
    opacity: 1;
  }
}

.outline-utilities {
  &.outline-none {
    outline: none;
  }

  &.outline-thin {
    outline: 1px solid;
  }

  &.outline-medium {
    outline: 2px solid;
  }

  &.outline-thick {
    outline: 3px solid;
  }
}




// Sidebar button utility classes
.sidebar-button {
  display: flex;
  align-items: center;
  color: $black;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  background-color: transparent;

  &:hover {
    background-color: rgba(128, 128, 128, 0.25);
    opacity: 1;
  }

  i {
    margin-right: 10px;
  }
}

.profile{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.button {
  text-decoration: none;
}

.search{
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 10px;
}

.outline-utilities{
  &.outline-none {
    outline: none;
  }
}
.absolute-width{
  &.w-25 {
    width: 25px;
  }
}


// Height and Width utility classes relative to parent
.parent-relative {
   &.w-5 {
    width: 5%;
  }

   &.w-10 {
    width: 10%;
  }

  &.w-15 {
    width: 15%;
  }
  
  &.w-25 {
    width: 25%;
  }

  &.w-40 {
    width: 40%;
  }


  &.w-45 {
    width: 45%;
  }

  &.w-48 {
    width: 48%;
  }

  &.w-50 {
    width: 50%;
  }

  &.w-75 {
    width: 75%;
  }

  &.w-80 {
    width: 80%;
  }

  &.w-90 {
    width: 90%;
  }

  &.w-92 {
    width: 92%;
  }

  &.w-100 {
    width: 100%;
  }

  &.h-10 {
    height: 10%;
  }

  &.h-15 {
    height: 10%;
  }

  &.h-25 {
    height: 25%;
  }

  &.h-40 {
    height: 40%;
  }

  &.h-45 {
    height: 45%;
  }

  &.h-48 {
    height: 48%;
  }

  &.h-50 {
    height: 50%;
  }

  &.h-60 {
    height: 60%;
  }

  &.h-75 {
    height: 75%;
  }

  &.h-80 {
    height: 80%;
  }

  &.h-90 {
    height: 90%;
  }

  &.h-92 {
    height: 92%;
  }

  &.h-100 {
    height: 100%;
  }
}
